.Logo-area {
    position: absolute;
    max-width: 100px;
}

.Logo {
    animation-duration: 8000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.Logo-area>div {
    position: absolute;
}

.Large {
    height: 6.3em;
    width: 6.3em;
}

.Medium {
    height: 4.7em;
    width: 4.7em;
}

.Small {
    height: 2.9em;
    width: 2.9em;
    animation-duration: 4600ms;
}

.Second {
    left: 96px;
    top: 22px;
}

.Third {
    left: 79px;
    top: 84px;
}

.Right {
    animation-name: spin-right;
}

.Left {
    animation-name: spin-left;
}

@keyframes spin-right {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes spin-left {
    from {
        transform: rotate(360deg);
    }
    to {
        transform: rotate(0deg);
    }
}