.Todo {
    display: grid;
    grid-template-rows: 0.2fr 0.7fr 0.1fr;
}

.Todo-header {
    text-transform: uppercase;
    font-weight: bold;
}

.Todo-body {
    height: 160px;
    text-align: center;
    overflow: scroll;
}

.Todo>p::-webkit-scrollbar {
    display: none;
}

.Todo-footer {
    display: grid;
    grid-template-columns: repeat(3, auto);
}

.Todo-footer >p{
    margin: 0.1em;
}

.Todo-footer>p:hover {
    background: #8bc1ec;
}

.Todo-single{
    display: grid;
    grid-template-rows: 12.2ex 0.1ex;
    text-transform: uppercase;
    font-weight: bold;
    font-size: xx-large;
}

.Todo-footer-single {
    display: grid;
    grid-template-columns: repeat(2, auto);
    font-weight: normal;
}