.Todo {
    display: grid;
    grid-template-rows: 0.2fr 0.7fr 0.1fr;
}

.Todo-header {
    text-transform: uppercase;
    font-weight: bold;
}

.Todo-body {
    height: 160px;
    text-align: center;
    overflow: auto;
}

.Todo>p::-webkit-scrollbar {
    display: none;
}

.Todo-footer {
    display: grid;
    grid-template-columns: repeat(3, auto);
}

.Todo-footer>img{
    align-self: center;
    margin: 0.1em;
    padding: 1em;
}

.Todo-footer>img:hover {
    background: #ffd8b8;
}

.Todo-single{
    display: grid;
    grid-template-rows: 12.2ex 0.1ex;
    text-transform: uppercase;
    font-weight: bold;
    font-size: xx-large;
}

.Todo-footer-single {
    display: grid;
    grid-template-columns: repeat(2, auto);
    font-weight: normal;
}

.image {
    width: 2em;
    height: 2em;
    justify-self: center;
}