.App {
  text-align: center;
}

.App-header {
  background-color: #fca14c;
  height: 150px;
  padding: 20px;
  color: black;
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 1em;
}

.App-title {
  font-size: 3.5em;
  margin-top: 0px;
  font-family: 'Press Start 2P', cursive;
}

.App-nav {
  font-family: 'Press Start 2P', cursive;
  background:#fa7a09;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(1em, auto);
  height: 3em;
  margin: 1em;
  margin-top: 0em;
  margin-bottom: 0em;
}

.App-nav>a:hover {
  background: #ffba81;
}

.App-body {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 1em;
  grid-auto-rows: minmax(20em, auto);
  padding: 1em;
}

.App-body>div {
  background: #ffba81;
  padding: 1em;
}

/* .App-body>div:nth-child(odd) {
  background: #8bc1ec;
} */

.App-intro {
  font-size: large;
}